

<form #frmAddTask="ngForm" class="border-class">
    <div class="form-group">
       <label for="task">Task:</label>
       <input type="text" [(ngModel)]="task.id" class="form-control" id="task" name="taskName"/>
      
     </div>
     
     <div class="form-group">
         <label for="description">Description:</label>
         <textarea id="description" class="form-control" [(ngModel)]="task.description" id="description" rows="3" name="taskDesc"></textarea>
     </div>

     <div class="form-group">
       <label for="text">Date:&nbsp;</label>
       <input id="text" autocomplete="off" [(ngModel)]="task.date" type="text" bsDatepicker  [bsConfig]="{ dateInputFormat: 'YYYY-MM-DD' }" name="taskDate">
       <!-- <input id="text" [(ngModel)]="task.date" type="text"  name="taskDate"> -->
       

     </div>

     <div class="form-group">
         <label for="mytime">Time:&nbsp;</label> 
         <timepicker [(ngModel)]="task.time" [showMeridian]="ismeridian" name="taskTime"></timepicker>               
         <!-- <input type="datetime-local" [(ngModel)] = "task.time" id="mytime" name="taskTime"> -->
         <!-- <input type="text" [(ngModel)] = "task.time" id="mytime" name="taskTime"> -->
     </div>


     <div class="form-group">
       <!-- <input type="text" [(ngModel)] = "task.type" name="taskType"> -->

       <label for="types">Type:</label>

       <select id="types"  [(ngModel)] = "task.type"  name="type">
         <option value="" selected="true"></option>
         <option value="Daily">Daily</option>
         <option value="Weekly">Weekly</option>
       </select>
       
     </div>

     

     <div class="btn-toolbar">
         <button type="button" id="btnCancel" class="btn btn-primary btn-sm">Cancel</button>
         <button type="submit" (click)="update()" id="btnEdit" class="btn btn-primary btn-sm">Save changes</button>
       </div>

       <alert *ngIf="msg" type="success">
         <strong>Well done!</strong> {{msg}}
       </alert>

       

</form>